.header{
    width: 100vw;
    height: 50px;
    background-color:rgba(24, 23, 23, 0.692) ;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 30px;
    font-size: x-large;
    
}